<%# Write your code here! %>

<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Views Lab II</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>If you tell me your name, I can say hi!</h2>
    <form>
      <input id="name" type="text" name="name" placeholder="Enter Name" required>
    </form>
  </body>
</html>

